@import "breakpoints.scss";
@import "colors.scss";
@import "general.scss";

// Components
@import "components/auth-forms.scss";
@import "components/buttons.scss";
@import "components/footer.scss";
@import "components/main-nav.scss";

// Pages
@import "pages/style-guide.scss";
@import "pages/tos-page.scss";

$body-bg: $base30;
$main-bg: $shadow10;
$main-border: 1px solid $shadow07;
$main-boxshadow: 0 0 5px $shadow07;

a, a:visited {
  color: $accent;
  text-decoration: none;
}

body {
  background: $body-bg;
  color: $ink;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

main {
  background-color: $main-bg;
  border: $main-border;
  box-shadow: $main-boxshadow;
  flex: 1;
  margin: 2rem auto;
  min-width: $mobile;
  width: 100%;
  max-width: $desktop;
}

section {
  padding: 1.5rem;

  h1:first-of-type {
    margin-top: 0;
  }
}
