@import "breakpoints.scss";
@import "colors.scss";

// Components
@import "components/main-nav.scss";

$body-bg: $base;

body {
  background: $body-bg;
  color: $ink;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  color: $ink;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}