$eggshell: rgba(244, 241, 222, 1);
$eggshell5: rgba(244, 241, 222, 0.5);
$eggshell3: rgba(244, 241, 222, 0.3);
$apricot: rgba(234, 182, 159, 1);
$apricot5: rgba(234, 182, 159, .5);
$apricot3: rgba(234, 182, 159, .3);
$burnt-sienna: rgba(224, 122, 95, 1);
$burnt-sienna5: rgba(224, 122, 95, .5);
$burnt-sienna3: rgba(224, 122, 95, .3);
$rose-taupe: rgba(143, 93, 93, 1);
$rose-taupe5: rgba(143, 93, 93, .5);
$rose-taupe3: rgba(143, 93, 93, .3);
$rose-taupe1: rgba(143, 93, 93, .1);
$eggplant: rgba(102, 79, 92, 1);
$eggplant5: rgba(102, 79, 92, .5);
$eggplant3: rgba(102, 79, 92, .3);
$delft-blue: rgba(61, 64, 91, 1);
$delft-blue5: rgba(61, 64, 91, .5);
$delft-blue3: rgba(61, 64, 91, .3);
$delft-blue05: rgba(61, 64, 91, .05);
$slate-gray: rgba(95, 121, 123, 1);
$slate-gray5: rgba(95, 121, 123, .5);
$slate-gray3: rgba(95, 121, 123, .3);
$cambridge-blue: rgba(129, 178, 154, 1);
$cambridge-blue5: rgba(129, 178, 154, .5);
$cambridge-blue3: rgba(129, 178, 154, .3);
$sage: rgba(186, 191, 149, 1);
$sage5: rgba(186, 191, 149, .5);
$sage3: rgba(186, 191, 149, .3);
$sunset: rgba(242, 204, 143, 1);
$sunset5: rgba(242, 204, 143, .5);
$sunset3: rgba(242, 204, 143, .3);

$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);
$french-gray: rgba(206, 212, 218, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$slate-gray: rgba(108, 117, 125, 1);
$outer-space: rgba(73, 80, 87, 1);
$onyx: rgba(52, 58, 64, 1);
$eerie-black: rgba(33, 37, 41, 1);
$white: rgba(255, 255, 255, 1);

// THEME COLORS
$base: $eggshell3;
$base-cool: $delft-blue5;
$base-warm: $sunset5;
$base-lightest: $white;
$base-lighter: $antiflash-white;
$base-light: $platinum;
$base-dark: $french-gray;
$base-darker: $slate-gray;
$base-darkest: $outer-space;
$ink: $onyx;
$primary: $delft-blue;
$primary-light: $delft-blue5;
$primary-lighter: $delft-blue3;
$primary-lightest: $delft-blue05;

$secondary: $eggshell;
$tertiary: $sage;

// $base-lightest: $gray-5;
// $base-lighter: $gray-10;
// $base-light: $gray-30;
// $base-extra-light: $gray-3;
// $base-dark: $gray-60;
// $base-darker: $gray-70;
// $base-darkest: $gray-90;
// $ink: $gray-90;
// $primary: $blue-60v;
// $primary-vivid: $blue-warm-60v;
// $primary-light: $blue-30;
// $primary-lighter: $blue-10;
// $primary-extra-light: $blue-5;
// $primary-dark: $blue-warm-70v;
// $primary-darker: $blue-warm-80v;
// $secondary: $green-cool-50v;
// $secondary-light: $green-cool-20;
// $secondary-lighter: $green-cool-5;
// $secondary-extra-light: #f6f9f6;
// $secondary-vivid: $green-cool-60v;
// $secondary-dark: $green-cool-70v;
// $secondary-darker: $green-cool-80v;
// $tertiary: $indigo-50;
// $tertiary-light: $indigo-30;
// $tertiary-lighter: $indigo-cool-5v;
// $tertiary-extra-light: #f8f8ff;
// $tertiary-vivid: $indigo-50v;
// $tertiary-dark: $indigo-60v;
// $tertiary-darker: $indigo-70v;
// $accent-cool: $cyan-30v;
// $accent-cool-light: $blue-cool-20v;
// $accent-cool-lighter: $blue-cool-10v;
// $accent-cool-extra-light: #f0f9fc;
// $accent-cool-dark: $blue-cool-40v;
// $accent-cool-darker: $blue-cool-60v;
// $accent-warm: $orange-30v;
// $accent-warm-light: $orange-20v;
// $accent-warm-lighter: $orange-10;
// $accent-warm-extra-light: $orange-5v;
// $accent-warm-dark: $orange-50v;
// $accent-warm-darker: $orange-60;