.color-shield {
  margin: 1rem 0;
  max-width: 50rem;
  text-align: center;

  div {
    width: 100%;
  }

  .color-stripe:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.color-stripe {
  padding: 0.5rem 1rem;
}

.color-details {

  .detail {
    padding: 0.5rem 1rem;
  }
}

.shields-container {
  display: flex;
  flex-wrap: wrap;
  
  .color-shield + .color-shield {
    margin-left: 4rem;
  }
}