$border-color: $shadow05;
$border-radius: 4px;

$border: 1px solid $border-color;

$isbn-color: $shadow04;

$icon-success-color: $accent-success;
$icon-error-color: $accent-error;

.book-list-item {
  border: $border;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  padding: 1rem;


  .book-info {
    display: flex;
  }

  .thumbnail-container {
    margin-right: 1rem;
  }

  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .book-thumbnail {
    width: 50px;
  }

  .title-container {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .25rem;
  }

  .has-subtitle {
    margin-bottom: 0;
  }

  .subtitle-container {
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .authors {
    font-size: 1rem;
  }

  .isbn-container {
    color: $isbn-color;
    font-size: .9rem;
    padding: .5rem 0;
  }

  .icon-success {
    color: $icon-success-color;
  }

  .icon-error {
    color: $icon-error-color;
  }

  .added-on {
    font-size: .9rem;
  }
}

.book-list-item + .book-list-item {
  margin-top: 1rem;
}
