$border-color: $shadow05;
$border-radius: 4px;

$border: 1px solid $border-color;

.book-list-item {
  border: $border;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  padding: 1rem;


  .book-info {
    display: flex;
  }

  .thumbnail-container {
    margin-right: 1rem;
  }

  .book-thumbnail {
    width: 70px;
  }
}
