$footer-bg: $greyscale10;
$footer-border: 1px solid $greyscale05;
$footer-link-color: $greyscale04;
$footer-link-hover: $accent;

footer {
  background-color: $footer-bg;
  border-top: $footer-border;

  #footer-content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    min-width: $mobile;
    max-width: $desktop;
    padding: 2rem 0;
  }

  a, a:visited {
    border-bottom: 1px solid $footer-bg;
    color: $footer-link-color;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 1px solid $footer-link-hover;
      color: $footer-link-hover;
    }
  }
}