// Main Navigation
$nav-bg: $primary;
$nav-text: $secondary;
$nav-icon-bg: $secondary;
$nav-icon-text: $primary;

nav {
  background-color: $nav-bg;
  color: $nav-text;

  #main-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: $mobile;
    max-width: $desktop;
    padding: 1rem;

    .home-icon {
      align-items: center;
      background-color: $nav-icon-bg;
      color: $nav-icon-text;
      padding: 0.75rem;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      text-decoration: none;
  
      &:hover {
        background-color: $nav-bg;
        color: $nav-text;
        cursor: pointer;
  
        a, a:visited {
          color: $nav-text;
        }
      }
    }

    .nav-link-group {
      margin: auto 0;

      a, a:visited {
        border: 0px;
        border-radius: $border-radius;
        color: $nav-text;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin: auto 0;
        padding: 1rem;
        text-decoration: none;

        &:hover {
          background-color: $nav-text;
          color: $nav-bg;
        }
      }

      .nav-link {
        margin: 0 1rem;
      }
    }
  }
}
