
$cambridge-blue: rgba(129, 178, 154, 1);
$cambridge-blue-10: rgba(129, 178, 154, .1);
$dark-spring-green: rgba(23, 114, 69, 1);
$delft-blue: rgba(61, 64, 91, 1);
$eggshell: rgba(244, 241, 222, 1);
$eggshell-30: rgba(244, 241, 222, .3);
$french-gray: rgba(206, 212, 218, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$neon-blue: rgba(67, 97, 238, 1);
$onyx: rgba(52, 58, 64, 1);
$rufous: rgba(168, 50, 50, 1);
$silver: rgba(188, 184, 177, 1);
$slate-gray: rgba(108, 117, 125, 1);
$slate-gray-10: rgba(108, 117, 125, .1);
$taupe: rgba(70, 63, 58, 1);
$white: rgba(255, 255, 255, 1);

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$laptop: 800px;
$desktop: 1024px;
$desktop-lg: 1440px;

// Global styles
// General variables
$border-radius: 0.75rem;
$success-color: $dark-spring-green;
$error-color: $rufous;

// Body
$background-bg: $eggshell-30;
$font-color: $onyx;

body {
  background: $background-bg;
  color: $font-color;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

// Links
$link-color: $neon-blue;

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

// Header
h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

// Main
$main-bg: $white;
$main-border: 1px solid $french-gray-2;
$main-boxshadow: 0 0 5px $french-gray-2;

main {
  background-color: $main-bg;
  border: $main-border;
  box-shadow: $main-boxshadow;
  flex: 1;
  margin: 2rem auto;
  min-width: $mobile;
  width: 100%;
  max-width: $desktop;
}

section {
  padding: 1.5rem;
}

.success {
  color: $success-color;
}

.error {
  color: $error-color;
}

@import './footer.scss';
@import './forms.scss';
@import './library.scss';
@import './navigation-main.scss';
@import './notices.scss';
@import './pages.scss';
