$item-border: 1px solid $french-gray-2;
$item-isbn-color: $slate-gray;

.catalog-item {
  border: $item-border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;

  .item-author {
    margin-top: 0.25rem;
  }

  .item-info {
    display: flex;
    flex-direction: row;
  }

  .item-isbn {
    color: $item-isbn-color;
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }

  .item-label {
    line-height: 1rem;
    margin: auto 0;
  }

  .item-title {
    font-weight: 700;
  }

  .icon-container {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
  }

  .icon, .MuiCircularProgress-indeterminate {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .item-thumbnail {
    width: 2.5rem;
    height: auto;
    margin-right: 1rem;
  }
}