$actions-bg-color: $cambridge-blue-30;
$isbn-color: $slate-gray;
$library-item-border: 1px solid $french-gray-2;

.recently-added-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 1rem 0 2rem 0;
  }
}

.library-book-item {
  display: flex;
  flex-direction: column;

  .item-info {
    border: $library-item-border;
    border-bottom: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: flex;
    padding: 1rem;
  }

  .item-actions {
    background-color: $actions-bg-color;
    border: $library-item-border;
    border-top: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1rem;
  }

  .book-info {
    margin-left: 1rem;
  }

  .thumbnail-container {
    img {
      max-width: 4rem;
    }
  }

  .isbn-container {
    margin: 4px 0;

    color: $isbn-color;
    font-size: 14px;
  }
}

.library-book-item + .library-book-item {
  margin-top: 1rem;
}

@media screen and (min-width: $tablet) {
  .library-book-item {
    border: $library-item-border;
    border-radius: $border-radius;
    flex-direction: row;
    justify-content: space-between;

    .item-info {
      border: 0;
      padding: 1rem;
    }

    .item-actions {
      border: 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: 0;
      padding: 1rem;
    }
  }
}